{% extends "base.html" %}

{% block content %}
    <div style="background-image: url( {{ url_for('static', filename='images/Hunting-destination-poland-new.jpg') }} ); height:500px;background-position:center;background-size:cover;background-repeat:no-repeat;margin:0px 0px 30px ;">
        <div class="d-flex justify-content-center align-items-center" style="height:inherit;min-height:initial;width:100%;position:absolute;left:0;background-color:rgba(30,41,99,0.53);">
            <div class="d-flex align-items-center order-12" style="height:200px;">
                <div class="container">
                    <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;">Koło Łowieckie</h3>
                    <h1 class="text-center" style="color:rgb(242,245,248);font-size:56px;font-weight:bold;font-family:Roboto, sans-serif;">Wilk Husów</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Aktualności</h2>
                {% for post in posts %}
                <div class="card" style="margin:5px 0 5px 0 ;"><img class="rounded card-img-top w-100 d-block" src=" {{ url_for('static', filename='images/image_dog.jpg')}}" alt = "image Dog" >
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <h6 class="card-title">{{ post.author.username }}</h6>
                        <p class="card-text"> {{ post.body }}</p><button class="btn btn-primary" type="button">Button</button></div>
                </div>
                {% endfor %}

                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">4</a></li>
                        <li class="page-item"><a class="page-link">5</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <h3>Czytaj także...</h3>
                <div class="card" style="margin:10px 0 20px 0;">
                    <div class="card-header">
                        <h5 class="mb-0">Heading</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="card" style="margin:10px 0 20px 0;">
                    <div class="card-header">
                        <h5 class="mb-0">Heading</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Koło Łowieckie "Wilk Husów"<br></h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                </div>
                <p class="copyright">Koło Łoweickie "Wilk" Husów © 2019</p>
            </div>
        </footer>
    </div>
{% endblock %}