body {
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menuBar {
    position: static;
    clear: right;
    width: 100%;
    height: 50px;    
    background: #44603B;
    border: 1px solid #698068;
    margin: 0;
    color: #EBEBEB;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    text-align: center; 
}

.menuBar h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EBEBEB;
    position: absolute;
    top: -6.5px;
    left: 4.5em;


}

.menuBar h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.menuButtonsBar { 
    clear: left;
    float: left;
    width: 100%;
    top: 0;
    background: #44603B;
    margin-bottom: 0;
    margin-left: 0;
    color: #EBEBEB;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.menuButtonsBar ul,
ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menuButtonsBar ul li {
    float: left;
    text-align: center;
    width: 8em;
    height: 50px;
    border:0.5em;
}

.menuButtonsBar ul a:link,
ul a:visited {
    text-decoration: none;
    display: block;    
    text-align: center;
    color: #EBEBEB;
    border: 1px solid #698068;
    
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.menuButtonsBar ul a:hover {
    border-style: inset;
    border: 1px solid #698068;
    background: rgba(0, 0, 0, 0.25);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    padding-top: 12px;
}

.head {    
    width: 100%;
    height: 20em;
    background-image: url("/home/ropusch/PycharmProjects/flask_tutorialApp/app/static/images/hunting1.jpeg");
    background-size: cover;
    clear: right;
    float: left;
}

.head img {
    width: 100%;
    height: 30em;
    background-image: url("/home/ropusch/PycharmProjects/flask_tutorialApp/app/static/images/hunting1.jpeg");
    background-size: cover;}

.head-decorate {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 121px solid #F34A53;
    border-right: 121px solid transparent;
    margin: 25px auto 0;
    background: rgba(68, 96, 59, 0.8);
    border: 1px solid #698068;

}

.head-login-bar{
    float: right;
    width: 30%;
    height: 20em;
    right: 0;
    background: rgba(68, 96, 59, 0.8);
    border: 1px solid #698068;
    
}

.head-login-bar input{
    background: #44603B;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;   
}

.article {
    position: relative;
    min-height: 100%;
    clear: left;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    width: 60%;
    padding: 2em 2em 5em 4em;
}

.article-head {
    font-size: 36px;

}

.article-date {
    position: absolute;
    right: 2em;
    top: 2em;
    color: #989898;
    font-size: 14;
}

.article-autor {
    position: absolute;
    right: 2em;
    top: 3.5em;
    color: #989898;
    font-size: 14;
}

.article span {
    font-size: 18;
    text-align: justify;

}

.footer {
    float: left;
    width: 100%;
    height: 30px;
    bottom: 0;
    background: #44603B;
    color: #EBEBEB;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    font-size: 12px;
}

.footer p {
    padding-left: 1em;
    padding-top: 1em;
    margin: 0;
}
